html, body {
    min-width: 100%;
}

.b-content {
    min-height: 100%;
    position: relative;
}
body {
    height: 100%;
    min-height: 100%;
    position: relative;
    font-family: 'Exo 2', sans-serif;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

a {
    text-decoration: none;
}

.container {
    padding-bottom: 113px;
}

header {
    background-color: #3a322e;
    padding: 26px 0;
}

h1 {
    font-size: 42px;
    font-weight: normal;
    color: #3a322e;
    margin-bottom: 22px;
}

.title {
    font-size: 36px;
    font-weight: 300;
    color: #3a322e;
}

.title.huge {
    text-transform: uppercase;
}

.title.mid {
    font-size: 28px;
    line-height: 36px;
    font-weight: normal;
    color: #3a322e;
}

.wrapper {
    display: block;
    width: 940px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.b-brand {

}

.row {

}

.logo {
    display: block;
    width: 161px;
    height: 48px;
    position: relative;
}

.logo-link {
    position: absolute;
    width: 161px;
    height: 48px;
    top: 0;
    left: 0;
    text-indent: -9999px;
    background: url('../img/sprite.png') 0 0 no-repeat;
}


.b-left {
    float: left;
}

.b-right {
    float: right;
}

.menu {
    margin-top: 6px;
}

.menu__item {
    float: left;
    margin-left: 28px;
}

.menu__item:hover .menu__item-link {
    color: #ffdc72;
}

.menu__item-link {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}

.menu__item-desc {
    display: block;
    margin-top: 6px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    opacity: .5;
}

.simple-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #3a322e;
}

.small-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #988f8b;
}

.mid-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #3a322e;
}

.large-text {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: #3a322e;
}


.huge-text {
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    color: #3a322e;
}

.super-text {
    font-weight: bold;
    font-size: 60px;
    line-height: 50px;
    color: #958c88;
}

.b-content {
    margin-top: 32px;
}

.border-block {
    border: 3px solid #d7d1cf;
    padding: 46px 0 56px 114px;
    position: relative;
}

.border-block.tiny {
    width: 419px;
    display: inline-block;
    border: 3px solid #d7d1cf;
    padding: 30px 0 30px 35px;
    position: relative;
}

.flex-direction-nav {
    display: none;
}

.slider {
    margin-top: 38px;
}

.b-trust {
    margin-top: 30px;
}

.b-trust__item {
    display: inline-block;
}

.b-trust__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    color: #3a322e;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.b-trust__list {
    overflow: hidden;
    margin: 24px -26px 0 -26px;
}

.b-trust__item {
    margin: 0 26px;
}

.b-trust__img {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto 11px auto;
    background: url('../img/sprite.png') 0 -115px no-repeat;
}

.b-trust__img.startup {
    background-position: 0 -170px;
}

.b-trust__img.levelup {
    background-position: 0 -210px;
}

.b-trust__img.fixes {
    background-position: 0 -260px;
}

.b-feed {
    margin-top: 55px;
    padding-top: 55px;
    padding-bottom: 55px;
    border-top: 1px solid #e0dddc;
    border-bottom: 1px solid #e0dddc;
}

.feed-user__name {
    display: block;
    margin-top: 12px;
}

.feed-user__desc {
    margin-top: 3px;
    display: block;
}

.feed-user__img {
    overflow: hidden;
    margin-top: 24px;
}

.feed-user__img img {
    border-radius: 50%;
    overflow: hidden;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 100px ;
    padding: 54px 0 36px 0;
}

.reload-btn {
    width: 32px;
    height: 32px;
    display: block;
    margin: 26px auto 23px auto;
    background: url('../img/sprite.png') 0 -300px no-repeat;
    cursor: pointer;
}

.b-phone {
    margin-bottom: 19px;
}
.b-mail {
    margin-bottom: 14px;
}
.b-address {
    margin-bottom: 14px;
}

.link {
    color: #af8e2b;
}

.b-services {
    margin-top: 38px;
    overflow: hidden;
}

.b-services__list .title {
    margin-bottom: 21px;
}

.b-service__text {
    width: 400px;
    padding-bottom: 15px;
    height: 110px;
}

.b-services__list {
    margin-left: -7px;
    margin-right: -16px;
}

.b-services__item  {
    height: 206px;
    margin-bottom: 20px;
    margin-left: 8px;
    margin-right: 8px;
    vertical-align: top;
}

.submit-btn {
    font-family: 'Exo 2', sans-serif;
    display: inline-block;
    color: #ffffff;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
    background: #af8e2b;
    padding: 5px 30px 9px 30px;
    border: none;
    cursor: pointer;
}


.field {
    border-radius: 3px;
    border: 1px solid #958c88;
    text-indent: 20px;
    height: 32px;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    color: #958c88;
    width: 278px;
    margin-right: 16px;
}

.fieldarea {
    resize: none;
    border-radius: 3px;
    border: 1px solid #958c88;
    padding-left: 20px;
    height: 70px;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    color: #958c88;
    width: 554px;
    margin-right: 16px;
    margin-top: 20px;
}

.feed__form {
    margin-top: 28px;
}

.feed__form .submit-btn {
    margin-top: 18px;
}

.feed-txt {
    margin-top: 15px;
}