body {
    font-family: 'Exo 2', sans-serif;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

a {
    text-decoration: none;
}


header {
    background-color: #3a322e;
    padding: 26px 0;
}

h1 {
    font-size: 42px;
    font-weight: normal;
    color: #3a322e;
    margin-bottom: 22px;
}

.wrapper {
    display: block;
    width: 940px;
    margin: 0 auto;
}

.b-brand {

}

.logo {
    display: block;
    width: 161px;
    height: 48px;
    position: relative;
}

.logo-link {
    position: absolute;
    width: 161px;
    height: 48px;
    top: 0;
    left: 0;
    text-indent: -9999px;
    background: url('../img/sprite.png') 0 0 no-repeat;
}


.b-left {
    float: left;
}

.b-right {
    float: right;
}

.menu {
    margin-top: 6px;
}

.menu__item {
    float: left;
    margin-left: 28px;
}

.menu__item:hover .menu__item-link {
    color: #ffdc72;
}

.menu__item-link {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}

.menu__item-desc {
    display: block;
    margin-top: 6px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    opacity: .5;
}

.simple-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #3a322e;
}

.huge-text {
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    color: #3a322e;
}

.b-content {
    margin-top: 32px;
}

.border-block {
    width: 100%;
    border: 3px solid #d7d1cf;
    padding: 40px 0 40px 0px;
}
