html, body {
    min-width: 100%;
    overflow-x: hidden;
}
video, object {
    width: 100%;
}
.b-content {
    min-height: 100%;
    position: relative;
}
body {
    height: 100%;
    min-height: 100%;
    position: relative;
    font-family: 'Exo 2', sans-serif;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

a {
    text-decoration: none;
}

.container {
    padding-bottom: 113px;
}

header {
    background-color: #3a322e;
    padding: 26px 0;
}

h1 {
    font-size: 42px;
    font-weight: normal;
    color: #3a322e;
    margin-bottom: 22px;
}

.title {
    font-size: 36px;
    font-weight: 300;
    color: #3a322e;
}

.title.huge {
    text-transform: uppercase;
}

.title.mid {
    font-size: 28px;
    line-height: 36px;
    font-weight: normal;
    color: #3a322e;
}

.wrapper {
    display: block;
    width: 940px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.b-brand {

}

.row {

}

.logo {
    display: block;
    width: 161px;
    height: 48px;
    position: relative;
}

.logo-link {
    position: absolute;
    width: 161px;
    height: 48px;
    top: 0;
    left: 0;
    text-indent: -9999px;
    background: url('../img/sprite.png') 0 0 no-repeat;
}


.b-left {
    float: left;
}

.b-right {
    float: right;
}

.menu {
    margin-top: 6px;
}

.menu__item {
    float: left;
    margin-left: 28px;
}

.menu__item:hover .menu__item-link {
    color: #ffdc72;
}

.menu__item-link {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}

.menu__item-desc {
    display: block;
    margin-top: 6px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    opacity: .5;
}

.simple-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #3a322e;
}

.small-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #988f8b;
}

.mid-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #3a322e;
}

.large-text {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: #3a322e;
}


.huge-text {
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    color: #3a322e;
}

.super-text {
    font-weight: bold;
    font-size: 60px;
    line-height: 50px;
    color: #958c88;
}

.b-content {
    margin-top: 32px;
}

.border-block {
    border: 3px solid #d7d1cf;
    padding: 46px 0 56px 114px;
    position: relative;
}

.border-block.tiny {
    width: 419px;
    display: inline-block;
    border: 3px solid #d7d1cf;
    padding: 30px 0 30px 35px;
    position: relative;
}

.flex-direction-nav {
    display: none;
}

.slider {
    margin-top: 38px;
}

.b-trust {
    margin-top: 30px;
}

.b-trust__item {
    display: inline-block;
}

.b-trust__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    color: #3a322e;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.b-trust__list {
    overflow: hidden;
    margin: 24px -26px 0 -26px;
}

.b-trust__item {
    margin: 0 26px;
}

.b-trust__img {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto 11px auto;
    background: url('../img/sprite.png') 0 -115px no-repeat;
}

.b-trust__img.startup {
    background-position: 0 -170px;
}

.b-trust__img.levelup {
    background-position: 0 -210px;
}

.b-trust__img.fixes {
    background-position: 0 -260px;
}

.b-feed {
    margin-top: 55px;
    padding-top: 55px;
    padding-bottom: 55px;
    border-top: 1px solid #e0dddc;
    border-bottom: 1px solid #e0dddc;
}

.feed-user__name {
    display: block;
    margin-top: 12px;
}

.feed-user__desc {
    margin-top: 3px;
    display: block;
}

.feed-user__img {
    overflow: hidden;
    margin-top: 24px;
}

.feed-user__img img {
    border-radius: 50%;
    overflow: hidden;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 100px ;
    padding: 54px 0 36px 0;
}

.reload-btn {
    width: 32px;
    height: 32px;
    display: block;
    margin: 26px auto 23px auto;
    background: url('../img/sprite.png') 0 -300px no-repeat;
    cursor: pointer;
}

.b-phone {
    margin-bottom: 19px;
}
.b-mail {
    margin-bottom: 14px;
}
.b-address {
    margin-bottom: 14px;
}

.link {
    color: #af8e2b;
}

.b-services {
    margin-top: 38px;
    overflow: hidden;
}

.b-services__list .title {
    margin-bottom: 21px;
}

.b-service__text {
    width: 400px;
    padding-bottom: 15px;
    height: 110px;
}

.b-services__list {
    margin-left: -7px;
    margin-right: -16px;
}

.b-services__item  {
    height: 206px;
    margin-bottom: 20px;
    margin-left: 8px;
    margin-right: 8px;
    vertical-align: top;
}

.submit-btn {
    font-family: 'Exo 2', sans-serif;
    display: inline-block;
    color: #ffffff;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
    background: #af8e2b;
    padding: 5px 30px 9px 30px;
    border: none;
    cursor: pointer;
}


.field {
    border-radius: 3px;
    border: 1px solid #958c88;
    text-indent: 20px;
    height: 32px;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    color: #958c88;
    width: 278px;
    margin-right: 16px;
}

.fieldarea {
    resize: none;
    border-radius: 3px;
    border: 1px solid #958c88;
    padding-left: 20px;
    height: 70px;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    color: #958c88;
    width: 554px;
    margin-right: 16px;
    margin-top: 20px;
}

.feed__form {
    margin-top: 28px;
}

.feed__form .submit-btn {
    margin-top: 18px;
}

.feed-txt {
    margin-top: 15px;
}

.projects {
    margin-bottom: 100px;
}

.projects__filters {
    margin-top: 35px;
}

.projects__type {

}

.filter-item {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #958c88;
    font-size: 16px;
    color: #958c88;
    padding: 7px 19px 11px 18px;
    cursor: pointer;
    margin-right: 6px;
}
.filter-item:hover {
    background-color: #af8e2b;
    color: #ffffff;
    border-color: #af8e2b;
}

.filter-item.active {
    background-color: #958c88;
    color: #ffffff;
}


.projects__list {
    max-width: 1680px;
    margin: 30px auto 0 auto;
}

.projects__thumb {
    -webkit-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
    -moz-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
    -ms-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
    -o-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
    transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
}

.projects__item {
    width: 25%;
    overflow: hidden;
    display: block;
    float: left;
}

.projects__item.w2 {
    width: 50%;
}

.projects__title {
    color: #3a322e;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 3px;
    -webkit-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
    -moz-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
    -ms-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
    -o-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
    transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
}

.projects__info {
    position: relative;
    padding: 14px 0 28px 0;
    -webkit-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
    -moz-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
    -ms-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
    -o-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
    transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
}

.fake-back {
    background: #3a322e;
    position: absolute;
    top: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 0%;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}


/********************************PROJECTS_ITEM HOVER*************************/
.projects__item:hover .fake-back {
    height: 100%;
}

.projects__item:hover .projects__title {
    color: #af8e2b;
}

.projects__item:hover .projects__desc {
    color: #ffffff;
}
.projects__item:hover .projects__img img {
    position: relative;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.projects__item:hover .projects__img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/back.png') repeat;
}
/********************************PROJECTS_ITEM HOVER*************************/



.projects__img {
    overflow: hidden;
    position: relative;
}

.projects__desc {
    color: #958c88;
    font-size: 16px;
    line-height: 22px;
    display: block;
    -webkit-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
    -moz-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
    -ms-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
    -o-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
    transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
}

.projects__item .projects__img img {
    display: block;
    width: 100%;
    max-width: 420px;

    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.projects__item.w2 .projects__img img {
    display: block;
    width: 100%;
    max-width: 840px;

}


/**********************1016***********************************/
@media screen and (max-width: 1280px) {
    .projects__desc {
        font-size: 14px;
    }
}

/**********************1016***********************************/
@media screen and (max-width: 1016px) {
    .projects__item {
        width: 33.33333%;
        overflow: hidden;
        display: block;
        float: left;
    }

    .projects__item.w2 {
        width: 66.66666%;
    }

    .projects__desc {
        font-size: 14px;
    }
}

/**********************776***********************************/
@media screen and (max-width: 776px) {
    .projects__item {
        width: 50%;
        overflow: hidden;
        display: block;
        float: left;
    }

    .projects__item.w2 {
        width: 100%;
    }
}

.main .b-content {
    margin-top: 0;
}

.b-promo {
    position: relative;
}

.b-promo:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/back.png') repeat;
}

.about {
    background: #efe8d5;
}

.main .b-feed {
    border: none;
}

.b-promo__text {
    position: absolute;
    font-size: 36px;
    line-height: 46px;
    font-weight: 200;
}

.huge-link {
    color: #ffbf00;
    text-decoration: none;
    font-weight: 400;
}

.huge-link {

}